#menuBar, #toolBar, #statusBar, #viewTool {background-color: rgb(222, 231, 255);}
#cfgerScroller {background-color: qlineargradient(spread:pad, x1:1, y1:0, x2:1, y2:1, stop:0.05 rgba(180, 200, 255, 255), stop:1 rgba(228, 230, 255, 255));}
Cfger {background-color: transparent;}